In [20]:
import pandas as pd

df = pd.read_csv("C:/Users/ThinkPad/Documents/CURSO DE PYTHON COMPLETO/INTERMEDIO Y AVANZADO/Archivos CVS/empleados.csv", index_col = "nombre")
df.head(3)

                 id      cargo  salario fecha_ingreso
nombre
Carlos Pérez    101   Analista  3500000    2020-05-10
Sofía Martínez  102  Ingeniera  5200000    2018-08-15
Andrés Ríos     103    Gerente  7500000    2015-03-01